-#  This file is app/views/mwit/index.html.haml
%table{:class => "top"}
	%tbody
		%tr
			%td= image_tag "mwit_logo.jpg", :class => "logo"
			%td{:class => "mwit"} Mills Women in Technology
			%td
			%td 
				%table
					%tbody
						%tr
							%td Login
							%td Sign-Up
= image_tag "woman_computer.jpg", :class => "main_img"
%br
%br
%table
	%tr
		%td{:class => "main_bottom"} Explore
		%td{:class => "main_bottom"} Engage
		%td{:class => "main_bottom"} Post
	%tr
		%td{:class => "main_bottom2"}
			%a{href:"http://www.google.com/anitaborg/", title:"Google Anita Borg Memorial Scholarship"}Google Anita Borg Memorial Scholarship |
			%br The Google Anita Borg Memorial Scholarship was established to honor the legacy of Anita Borg and her efforts to encourage women to pursue careers in computer science and technology. 
		%td{:class => "main_bottom2"} Example screenshot of chat about a scholarship. This is a placeholder for the screenshot. I fall onto some ground, but everything is still black, I hear my dog Barking crazily as if she were a 1000 yards away… I wake up; I hear a growling noise around the corner.
		%td{:class => "main_bottom2"} Example new post of scholarshipThis is an example new post that will be here. This is a placeholder for this example post.
