@CHARSET "ISO-8859-1";
body {
	background-color: #FAFAFA;
	font-family: Arial, Helvetica, "Times New Roman";
	font-size: medium;
	color: #000F2E;
	margin: 0;
	padding: 0;
}

hr {
	color: #E8E8E8;
}

img.logo {
	height: 35%;
	width: 35%;
	float: left;
	vertical-align: text-bottom;
	margin: 0 0 0 0px;
}

img.main_img {
	border: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25%;
	width: 25%;
}

table {
	width: 100%;
	color: black;
}

table.top {
	background-color: #000F2E;
	color: #FFFFFF;
}

tr {
	text-align: left;
}

td {
	text-align: left;
	vertical-align: text-bottom;
	font-size: 90%;
}

td.mwit {
	text-align: center;
	margin-left: 0px;
	font-size: 150%;
}

td.main_bottom {
	background-color: #000F2E;
	color: #FFFFFF;
	text-align: center;
	width: 33%;
}

td.main_bottom2 {
	padding: 15px;
}

.normal {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:link.body,a:visited.body {
	color: #000F2E;
}

a:hover.body {
	color: #FFAA00;
}

a:active.body {
	color: #FFFFFF;
}

a:link.top,a:visited.top {
	color: #FFFFFF;
}

a:hover.top {
	color: #FFFFFF;
}

a:active.top {
	color: #FFFFFF;
}

/* Headers */
h1,h3,h4,h5 {
	text-align: center;
}

h4.left {
	text-align: left;
}